<h1>PLEASE ENTER THE PIN CODE BELOW</h1>
<form action="/verify-otp" method="POST">

<div>
    <label for="otp">Enter the PIN <CODE></CODE>:</label>
    <input type="number" id="otp" name="otp" required>
</div>

</div>
    <button type="submit">Submit</button>
</form>
