/* transition effects for import wizard page */

.animatedDiv {
    display: flex;
    flex-direction: column;
    gap: 4;
}

@keyframes inAnimation {
   0% {
    opacity: 0;
    visibility: hidden;
   }

   100% {
    opacity: 1;
    visibility: visible;
   }
       
}

@keyframes outAnimation {
    100% {
     opacity: 0;
     visibility: hidden;
    }
 
    0% {
     opacity: 1;
    }
        
 }